.dash-nav h5{
    color: black;
    text-align: center;
    padding: 13px 5px;
    border-bottom: 1px solid #0c8b51;
    margin-bottom: 0;
}
.dash-nav h5:hover{
    background-color: #0c8b51;
    color: white;
}
.btn-dash{
    background-color: #0c8b51;
    color: white;
}
.btn-dash:hover{
    background-color: #0ba35f;
    color: white;
}

@media screen and (max-width: 475px) {
    .main-canvas{
        width: 60%;
    }
    .dash-nav h5{
        font-size: 16px;
    }
  }