.course-btn{
    background-color: #0c8b51;
    color: white;
}
.course-btn:hover {
    background-color: #2ba870;
    color: white;
}
.course-price {
  color: #0c8b51;
  font-weight: 600;
  word-spacing: 1.5em;
}
.ins-img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.ins-name{
    font-weight: 700;
}
.border-green{
    width: 150px;
    background-color: #0c8b51;
    height: 5px;
}